<a id="fancontrol_indicator" class="pull-right" title="Toggle Fan" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleFan(); }, visible: (isFanOn() !== undefined)" style="display: none">
    <i class="icon-fanbulb"></i>
</a>
